<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
  </head>
  <body>
    <h2>Filtered Products (narxi > 50)</h2>
    <ul>
      {% for product in filtered_products %}
      <li>{{ product.name }} - ${{ product.price }}</li>
      {% endfor %}
    </ul>

    <h2>Excluded Products (nomida "apple" yo‘q)</h2>
    <ul>
      {% for product in excluded_products %}
      <li>{{ product.name }}</li>
      {% endfor %}
    </ul>

    <h2>Categories with Product Count</h2>
    <ul>
      {% for cat in categories_with_count %}
      <li>{{ cat.name }}: {{ cat.product_count }} ta product</li>
      {% endfor %}
    </ul>

    <h2>O‘rtacha narx: ${{ average_price.price__avg }}</h2>
  </body>
</html>
