<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>Narxi 100 dan katta mahsulotlar</h1>
    <ul>
    {% for product in expensive_products %}
        <li>{{ product.name }} — ${{ product.price }}</li>
    {% empty %}
        <li>Hech qanday mahsulot topilmadi.</li>
    {% endfor %}
    </ul>

    <h1>'Electronics' bo'lmagan kategoriyalar</h1>
    <ul>
    {% for category in non_electronics_categories %}
        <li>{{ category.name }}</li>
    {% empty %}
        <li>Hech qanday kategoriya yo'q.</li>
    {% endfor %}
    </ul>

    <h1>Kategoriyalar va ularning mahsulotlar soni</h1>
    <ul>
    {% for category in categories_with_counts %}
        <li>{{ category.name }} - {{ category.product_count }} ta mahsulot</li>
    {% endfor %}
    </ul>
</body>
</html>
